@import url(http://thisisfun.cf/css/font-awesome/css/font-awesome.min.css);
@import url(http://thisisfun.cf/css/micons/micons.css);
@import url(http://thisisfun.cf/css/fonts.css);
html{
    font-family:sans-serif;
    line-height:1.15;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}
nav,section{
    display:block
}
h1{
    font-size:2em;
    margin:.67em 0
}
a{
    background-color:transparent;
    -webkit-text-decoration-skip:objects
}
a:active,a:hover{
    outline-width:0
}
::-webkit-file-upload-button{
    -webkit-appearance:button;
    font:inherit
}
[hidden]{
    display:none
}
html{
    font-size:62.5%;
    box-sizing:border-box
}
*,::after,::before{
    box-sizing:inherit
}
body{
    font-weight:400;
    line-height:1;
    word-wrap:break-word;
    text-rendering:optimizeLegibility;
    -webkit-overflow-scrolling:touch;
    -webkit-text-size-adjust:none
}
body{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased
}
video{
    max-width:100%
}
div,h1,h3,p{
    margin:0;
    padding:0
}
h1,h3{
    -webkit-font-smoothing:auto;
    -webkit-font-smoothing:antialiased;
    -webkit-font-variant-ligatures:common-ligatures;
    -moz-font-variant-ligatures:common-ligatures;
    font-variant-ligatures:common-ligatures;
    text-rendering:optimizeLegibility
}
a{
    text-decoration:none;
    line-height:inherit
}
.row{
    width:94%;
    max-width:1200px;
    margin:0 auto
}
.row:after{
    content:"";
    display:table;
    clear:both
}
@media only screen and (max-width:800px){
    .row{
        width:90%
    }
}
@media only screen and (max-width:600px){
    .row{
        width:auto;
        padding-left:25px;
        padding-right:25px
    }
}
html{
    font-size:10px;
    scroll-behavior:smooth;
    overflow-x:hidden
}
@media only screen and (max-width:400px){
    html{
        font-size:9.411764705882353px
    }
}
body,html{
    height:100%
}
::-webkit-scrollbar{
    display:none
}
body{
    background:#111;
    font-family:lora-regular,serif;
    font-size:1.7rem;
    font-style:normal;
    font-weight:400;
    line-height:1.765;
    color:#757575;
    margin:0;
    padding:0
}
a{
    color:#0087cc;
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}
a:active,a:focus,a:hover{
    color:#ef5b5b
}
a:active,a:hover{
    outline:0
}
h1,h3{
    font-family:montserrat-medium,sans-serif;
    color:#000;
    font-style:normal;
    font-weight:400;
    text-rendering:optimizeLegibility
}
h1,h3{
    margin-top:6rem;
    margin-bottom:1.8rem
}
@media only screen and (max-width:600px){
    h1,h3{
        margin-top:5.1rem
    }
}
h1{
    font-size:3.6rem;
    line-height:1.25;
    letter-spacing:-.1rem
}
@media only screen and (max-width:600px){
    h1{
        font-size:3.3rem;
        letter-spacing:-.07rem
    }
}
h3{
    font-size:2.4rem;
    line-height:1.25
}
iframe#embed{
    width:200vh;
    height:100vh;
    margin:0;
    padding:0;
    border:none;
    overflow:hidden;
    background-color:#ded
}
.btn{
    margin-bottom:1.2rem
}
p{
    margin-bottom:3rem
}
#myVideo{
    width:1600px;
    height:900px;
    display:block;
    margin:0 auto;
    object-fit:cover;
    padding-top:75px;
    padding-bottom:75px
}
#preloader{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#050505;
    z-index:800;
    height:100%;
    width:100%;
    display:table
}
#loader{
    display:table-cell;
    text-align:center;
    vertical-align:middle
}
.line-scale-pulse-out>div{
    background-color:#ef5b5b;
    width:4px;
    height:35px;
    border-radius:2px;
    margin:2px;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    display:inline-block;
    -webkit-animation:line-scale-pulse-out .9s -.6s infinite cubic-bezier(.85,.25,.37,.85);
    animation:line-scale-pulse-out .9s -.6s infinite cubic-bezier(.85,.25,.37,.85)
}
.line-scale-pulse-out>div:nth-child(2),.line-scale-pulse-out>div:nth-child(4){
    -webkit-animation-delay:-.4s!important;
    animation-delay:-.4s!important
}
.line-scale-pulse-out>div:nth-child(1),.line-scale-pulse-out>div:nth-child(5){
    -webkit-animation-delay:-.2s!important;
    animation-delay:-.2s!important
}
@-webkit-keyframes line-scale-pulse-out{
    0%{
        -webkit-transform:scaley(1);
        transform:scaley(1)
    }
    50%{
        -webkit-transform:scaley(.4);
        transform:scaley(.4)
    }
    100%{
        -webkit-transform:scaley(1);
        transform:scaley(1)
    }
}
@keyframes line-scale-pulse-out{
    0%{
        -webkit-transform:scaley(1);
        transform:scaley(1)
    }
    50%{
        -webkit-transform:scaley(.4);
        transform:scaley(.4)
    }
    100%{
        -webkit-transform:scaley(1);
        transform:scaley(1)
    }
}
::-webkit-input-placeholder{
    color:#828282
}
:-moz-placeholder{
    color:#828282
}
::-moz-placeholder{
    color:#828282
}
:-ms-input-placeholder{
    color:#828282
}
.btn{
    display:inline-block;
    font-family:montserrat-medium,sans-serif;
    font-size:1.2rem;
    text-transform:uppercase;
    letter-spacing:.3rem;
    height:5.4rem;
    line-height:calc(5.4rem - .4rem);
    padding:0 3rem;
    margin:0 .3rem 1.2rem 0;
    color:#000;
    text-decoration:none;
    text-align:center;
    white-space:nowrap;
    cursor:pointer;
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
    background-color:#a4a9ad;
    border:.2rem solid #a4a9ad
}
.btn:focus,.btn:hover{
    background-color:#b8b8b8;
    border-color:#b8b8b8;
    color:#000;
    outline:0
}
.btn--stroke{
    background:0 0!important;
    border:.2rem solid #ef5b5b;
    color:#ef5b5b
}
.btn--stroke:hover{
    border:.2rem solid #000;
    color:#000
}
.header-nav{
    background:#140011;
    color:rgba(255,255,255,.25);
    font-family:montserrat-light,sans-serif;
    font-size:1.3rem;
    line-height:1.846;
    padding:3.6rem 3rem 3.6rem 3.6rem;
    height:100%;
    width:280px;
    position:fixed;
    right:0;
    top:0;
    z-index:700;
    overflow-y:auto;
    overflow-x:hidden;
    -webkit-transition:all .5s ease;
    transition:all .5s ease;
    -webkit-transform:translateZ(0);
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateX(100%);
    -ms-transform:translateX(100%);
    transform:translateX(100%);
    visibility:hidden
}
.header-nav a,.header-nav a:visited{
    color:rgba(255,255,255,.5)
}
.header-nav a:active,.header-nav a:focus,.header-nav a:hover{
    color:#fff
}
.header-nav h3{
    font-family:montserrat-semibold,sans-serif;
    font-size:11px;
    line-height:1.5;
    text-transform:uppercase;
    letter-spacing:.25rem;
    margin-bottom:4.8rem;
    margin-top:.9rem;
    color:#ffba49
}
.header-nav p{
    margin-bottom:2.7rem
}
.header-nav__content{
    position:relative;
    left:50px;
    opacity:0;
    visibility:hidden
}
.header-nav__close{
    display:block;
    height:30px;
    width:30px;
    border-radius:3px;
    background-color:rgba(0,0,0,.3);
    position:absolute;
    top:36px;
    right:30px;
    font:0/0 a;
    text-shadow:none;
    color:transparent;
    z-index:800
}
.header-nav__close span::after,.header-nav__close span::before{
    content:"";
    display:block;
    height:2px;
    width:12px;
    background-color:#fff;
    position:absolute;
    top:50%;
    left:9px;
    margin-top:-1px
}
.header-nav__close span::before{
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg)
}
.header-nav__close span::after{
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg)
}
.s-home{
    width:100%;
    height:100%;
    min-height:786px;
    background-color:transparent;
    position:relative;
    display:table
}
.s-home .shadow-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:.4;
    background:-moz-linear-gradient(top,transparent 0,rgba(0,0,0,.8) 100%);
    background:-webkit-linear-gradient(top,transparent 0,rgba(0,0,0,.8) 100%);
    background:linear-gradient(to bottom,transparent 0,rgba(0,0,0,.8) 100%)
}
.s-home .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:.6;
    background-color:#000
}
.home-content{
    display:table-cell;
    width:100%;
    height:100%;
    vertical-align:middle;
    padding-bottom:15.6rem;
    position:relative;
    overflow:hidden
}
.home-content h3{
    font-family:montserrat-medium,sans-serif;
    font-size:1.6rem;
    color:rgba(255,255,255,.5);
    text-transform:uppercase;
    letter-spacing:.3rem;
    position:relative;
    margin-top:0;
    margin-bottom:1.2rem;
    margin-left:6px
}
.home-content h1{
    font-family:montserrat-medium,sans-serif;
    font-size:6.3rem;
    line-height:1.333;
    margin-top:0;
    color:#fff
}
.home-content__main{
    padding-top:24rem;
    position:relative
}
.home-content__buttons{
    padding-top:6rem;
    text-align:left
}
.home-content__buttons .btn{
    width:215px;
    border-color:#fff;
    color:#fff;
    margin:1.5rem 1.5rem 0 0;
    letter-spacing:.25rem;
    -webkit-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out
}
.home-content__buttons .btn:last-child{
    margin-right:0
}
.home-content__buttons .btn:focus,.home-content__buttons .btn:hover{
    background:#fff!important;
    color:#000
}
.home-content__scroll{
    position:absolute;
    right:9.5rem;
    bottom:8.4rem
}
.home-content__scroll a{
    font-family:montserrat-semibold,sans-serif;
    font-size:1rem;
    text-transform:uppercase;
    letter-spacing:.3rem;
    color:#fff;
    position:relative;
    display:inline-block;
    line-height:3rem;
    padding-left:2.5rem
}
.home-content__scroll a::before{
    border-bottom:2px solid #ef5b5b;
    border-right:2px solid #ef5b5b;
    content:'';
    display:block;
    height:8px;
    width:8px;
    margin-top:-6px;
    pointer-events:none;
    position:absolute;
    left:0;
    top:50%;
    -webkit-transform-origin:66% 66%;
    -ms-transform-origin:66% 66%;
    transform-origin:66% 66%;
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
    -webkit-transition:all .15s ease-in-out;
    transition:all .15s ease-in-out
}
.home-content__line{
    display:block;
    width:2px;
    height:10.2rem;
    background-color:#ef5b5b;
    position:absolute;
    right:7.2rem;
    bottom:0
}
@media only screen and (max-width:1500px){
    .home-content h1{
        font-size:6rem
    }
    .home-content__main{
        max-width:1000px
    }
}
@media only screen and (max-width:1200px){
    .home-content h1{
        font-size:5.5rem
    }
    .home-content__main{
        max-width:800px
    }
}
@media only screen and (max-width:1000px){
    .home-content h1{
        font-size:4.6rem
    }
    .home-content br{
        display:none
    }
    .home-content__main{
        padding-top:21rem;
        padding-right:80px;
        max-width:680px
    }
}
@media only screen and (max-width:800px){
    .home-content h3{
        font-size:1.5rem
    }
    .home-content h1{
        font-size:4rem
    }
    .home-content__main{
        padding-right:70px;
        max-width:550px
    }
}
@media only screen and (max-width:700px){
    .home-content__main{
        max-width:490px
    }
    .home-content__buttons{
        padding-top:1.2rem;
        text-align:center
    }
    .home-content__buttons .btn{
        display:block;
        width:70%;
        margin:1.5rem 0 0 0
    }
    .home-content__scroll{
        right:7.5rem
    }
    .home-content__line{
        right:5.5rem
    }
}
@media only screen and (max-width:600px){
    .home-content h1{
        font-size:3.8rem
    }
    .home-content__scroll{
        bottom:5.4rem
    }
    .home-content__line{
        height:7.2rem
    }
}
@media only screen and (max-width:500px){
    .s-home{
        min-height:642px
    }
    .home-content h1{
        font-size:3.5rem
    }
    .home-content__main{
        text-align:center;
        max-width:none;
        padding-top:15rem;
        padding-right:25px;
        width:85%
    }
    .home-content__buttons{
        padding-top:1.2rem
    }
    .home-content__buttons .btn{
        width:auto;
        margin:1.5rem 0 0 0
    }
}
@media only screen and (max-width:450px){
    .home-content h1{
        font-size:3.3rem
    }
}
@media only screen and (max-width:400px){
    .s-home{
        min-height:630px
    }
    .home-content h1{
        font-size:3.2rem
    }
    .home-content__main{
        padding-top:16.2rem;
        width:auto
    }
}
