body {
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a {
  color: #ffc0cb; /* Hello? */
}

#fancy-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #ffc0cb;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* Add a responsive design by using media queries */
@media (max-width: 768px) {
  #fancy-text {
    font-size: 24px; /* Decrease the font size on smaller screens */
  }
}
::-webkit-scrollbar {
  display: none;
}