body {
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#fancy-text {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #ffc0cb;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.hover {
  color: #00b8d4;
  cursor: pointer; /* Add a cursor to indicate that the text is clickable */
  transition: all 0.3s ease;
}

/* Add a responsive design by using media queries */
@media (max-width: 768px) {
  #fancy-text {
    font-size: 24px; /* Decrease the font size on smaller screens */
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}
